/vendor
/public/index.php
/public/typo3
/public/fileadmin
/public/uploads

/public/typo3temp
/var

/public/FIRST_INSTALL
/public/typo3conf/ENABLE_INSTALL_TOOL

/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/l10n
